/* navbar */
#nav_main{
    display: flex;
    justify-content: space-between;
}
#nav_search{
    display: flex;
}
#nav_search input{
    width: 600px
}

#nav_img img{
    height: 50px;
}
#nav_left{
    display: flex;
    margin-left: 30px;
    
}
#nav_left a{
    margin-left: 30px;
}
#nav_right{
    display: flex;
   
    width: 50%;
    justify-content: space-between;
}
#nav_right img{
    height: 32px;
    display: flex;
    margin-left: 35px;
    width: 50%;
}
#nav_right2{
    display: flex;
}
#nav_right1{
    display: flex;
    align-items: center;
   background-color: rgb(237, 233, 233);
    width: 85%;
}
#nav_right1 input{
    border: none;
width: 100%;
height: 30px;
background-color: rgb(237, 233, 233);
}
/* navbar */
#sort{
    width: 20%;
    height: 30px;
}
/* footer */
#footer_main {
    display: flex;
    gap: 80px;
    justify-content: center;
}
#footer_main p{
    color: rgb(95, 93, 93);
    font-size: 14px;
}
#footer_main h4{
    font-size: 14px;
}

#playstore {
    display: grid;
}

#foot3_social img {
    height: 28px;
    margin-left: 12px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
}
#original{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#return{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#foot4{
    margin-top: 18px;
}
#foot5{
    margin-left: 160px;
    
}
#foot5 h4{
    font-size: 13px;
    margin-left: 70px;
}
#foot5 p{
    margin-left:-10px ;
    
}
#foot5 p, #foot6 p{
    display: flex;
    color: grey;
    font-size: 15px;
    justify-content: center;
}
#foot6{
    display: flex;
    margin-left: 230px;
}
#contact_us{
   margin-left: 600px;   
}
/* footer */
#products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;   
    margin-top: 5%;
}
#products_top{
    display: flex;
    margin-top: 25%;
    justify-content: space-between;
    width: 97%;
}
#products img{
    width: 100%;
    height: 320px;  
}
 #men_top_img {
    display: grid;
    grid-template-columns: repeat(9,1fr);     
    height: 100px;  
} 
 #men_top_img img{
    width: 80%;
    height: 130px;    
} 
#women_top_img {
    display: grid;
    grid-template-columns: repeat(8,1fr);  
    height: 100px;   
}
#women_top_img img{
    width: 80%;
    height: 130px;
}
#kids_top_img {
    display: grid;
    grid-template-columns: repeat(9,1fr);  
    height: 100px;  
}
#kids_top_img img{
    width: 80%;
    height: 130px;
}
#health_top_img {
    display: grid;
    grid-template-columns: repeat(9,1fr); 
    height: 100px;    
}
#health_top_img img{
    width: 80%;
    height: 130px;
}
#allBox{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.cat1{
    display: flex;
    /* justify-content: space-between; */
}
#qty{
    height: 50px;
    color: black;
    margin-left: 300px;
    width: 40%;
    text-align: center;
    margin-bottom: 15px;
    
  }
  
  #cart,#wish{
    height: 50px;
    width: 60%;
    margin-left: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: brown;
    
  }
  #star{
    display: flex;
  }
  #star1{
    margin-left: 300px;
    color: rgb(227, 227, 14);
  }
  #star2{
    margin-left: 100px;
    color: blue;
  }
  #star2:hover p{
    text-decoration: underline;
  }
 #productDetail_main{
    display: flex;
 }
#product_desc{
    margin-left: 305px;   
}
 #productDetail_bottom{
    display: grid;
    grid-template-columns: repeat(6,1fr);   
    gap: 20px;
} 
#productDetail_bottom img{
    width: 100%;
    height:280px;    
}
